@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans+KR&display=swap');

html,
body {
  font-size: 14px;
  padding: 0;
  margin: 0;
}

// CLASSS
.freezing-scroll {
  overflow: hidden !important;
}
